.fixed-full-width {
  position: fixed;
  width: 100%;
  bottom: 24px;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.color-picker-container {
  display: flex;
  gap: 21px;
  align-items: center;
  border-radius: 8px;
  background-color: #232323;
  padding: 16px 32px;
  .color-picker {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 7px;
      background-image: url("/transprency-grid.svg");
      background-size: contain;
      position: absolute;
      z-index: -1;
    }
  }
  button {
    height: 50px;
    padding: 0 32px;
    border-radius: 6px;
    font-weight: 600;
  }
}
.picker-container {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 110px;
  left: 0;
  background-color: #232323;
  padding: 20px;
  border-radius: 10px;
  z-index: 99999;
  .color-input {
    font-size: 16px;
    margin-top: 16px;
    padding: 4px 0 4px 10px;
    border: none;
    border-radius: 3px;

    &:focus {
      outline: none;
      border-radius: 3px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .color-picker-container {
    gap: 8px;
    .color-picker {
      width: 30px;
      height: 30px;
    }
    button {
      padding: 0 8px;
      height: 30px;
    }
  }
  .picker-container {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
