footer {
  background-color: var(--color-primary);
  section {
    padding: 30px 0 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    color: var(--color-background);
    a {
      color: var(--color-accent);
      font-weight: 600;
    }
  }
}
